* {
    transition: all 0.3s;
}

body {
    background: #150E28;
    margin: 0;
    padding: 0;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

.all-sections {
    width: 1200px;
    margin: 0 auto;
}

/* .first_section{
    background-image: url(/img/Purple-Lens-Flare-PNG.png), lightgray -1.385px 0px / 122.403% 102.747% no-repeat;
    background-blend-mode: luminosity;
    height: 600px;
}    */

.lens_flare {
    /* background-image: url(/img/Purple-Lens-Flare-PNG.png); */
    background-blend-mode: luminosity;
    width: 500px;
    height: 400px;
    flex-shrink: 0;
    position: absolute;
    background-repeat: no-repeat;
    left: 200px;
    filter: blur(25px);
    opacity: 30%;
}

.lens_flare img {
    width: 100%;
}

nav {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 9999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 20px;
}

.nav_menu {
    margin-left: 350px;
    margin-right: 70px;
}

.nav_menu ul {
    display: flex;
    align-items: center;
}

.nav_menu ul li {
    list-style-type: none;
    padding: 0px 20px;
}

.nav_menu ul li a {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.btn button {
    border-radius: 4px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    padding: 10px 30px;
    border: none;
    color: #fff;
    font-family: "Montserrat";
}

.first_ban {
    position: relative;
    padding-top: 50px;
}

.first_ban h3 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.first_ban_top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.down_stroke {
    width: 200px;
    height: 20px;
}

.down_stroke img {
    width: 100%;
}


.ban1_text h2 {
    color: #FFF;
    font-family: "Clash Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.ban1_text p {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    margin: 0;
    margin-bottom: 30px;
}

.bulb {
    position: absolute;
    top: 220px;
    left: 370px;
    width: 40px;
}

.bulb img {
    width: 100%;
}

.ban1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.ban1_img {
    width: 600px;
    height: 534.83;
}

.ban1_img img {
    width: 100%;
    height: 100%;
}

.stroke {
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.second_sect{
   
}

.objective {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 80px;
    margin-top: 100px;
}

.objective_text h3 {
    color: #FFF;
    font-family: "Clash Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 0px */
}

.objective_text p {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    /* 196.429% */
}
.star{
    position: absolute;
    left: 100px;
    top: 1000px;
}
.star2{
    position: absolute;
    top: 1000px;
    right: 180px;
}
.arrow{
    position: absolute;
    top: 1270px;
    left: 520px;
}